[submodule "mase-frontend"]
	path = mase-frontend
	url = https://github.com/AGES-PUCRS/mase-frontend.git
[submodule "mase-user-service"]
	path = mase-user-service
	url = https://github.com/AGES-PUCRS/mase-user-service
[submodule "mase-auth-service"]
	path = mase-auth-service
	url = https://github.com/AGES-PUCRS/mase-auth-service.git
[submodule "vendor/plugins/open_flash_chart_2"]
	path = vendor/plugins/open_flash_chart_2
	url = git://github.com/korin/open_flash_chart_2_plugin.git
